<div class="container">
        <div class="row">           
            <div class="col-md-6">
                <div>
                    <div class="panel panel-default">
                        <div class="text-center header">Dr.Mrugesh Suthar<h4>(MBBS.DEM.CIH)    <br/></h4></div>
                        <div class="panel-body col-md-offset-1 h3">
                                EMERGENCY ROOM CONSULTANT
                                <hr />
                                AHS Instructor:<br/>
                                <ul>
                                    <li class="h4">BLS</li>
                                    <li class="h4">ACLS</li>
                                    <li class="h4">ATLS</li>
                                    <li class="h4">First Aid</li>
                                    <li class="h4">Emergency Course</li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                    <div>
                        <div class="panel panel-default">
                            <div class="text-center header">Address</div>
                            <div class="panel-body text-justify h4">
                                <div>
                                E-604, Shapath Flats,<br />
                                Near Narayan Garden, Gotri,<br />
                                Vadodara<br />
                                <hr/>
                               Email - academyem108@gmail.com<br /><br />
                                M.- 9925440084
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    
        
    <style>
        .header {
            background-color: #F5F5F5;
            color: #36A0FF;
            height: 70px;
            font-size: 27px;
            padding: 10px;
        }
    </style>