
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="row socialIcon" >
    <div class="col-md-11">
    <i class="fa fa-facebook-official fa-2x"></i>&nbsp;&nbsp;&nbsp;    
    <i class="fa fa-twitter fa-2x"></i>&nbsp;&nbsp;&nbsp;
    <i class="fa fa-youtube-play fa-2x"></i>&nbsp;&nbsp;&nbsp;
    <i class="fa fa-google-plus  fa-2x"></i>&nbsp;&nbsp;&nbsp;
    <i class="fa fa-linkedin fa-2x"></i>&nbsp;&nbsp;&nbsp;
    <i class="fa fa-envelope  fa-2x"></i>
   </div>
</div>
<br />
<div id="nav" class="container">
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
      <div class="navbar-header">
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Home</a>
      </div>
      
      <div class="collapse navbar-collapse js-navbar-collapse">
          <ul class="nav navbar-nav">
              <li class="dropdown mega-dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Courses <span class="caret"></span></a>				
                  <ul class="dropdown-menu mega-dropdown-menu">                      
                      <li class="col-sm-4">
                          <ul>
                              <li class="dropdown-header">American Heart Association (AHA) Approved</li>
                              <li><a (click)="OnCourseClick($event)" id="bls" class="hyperlink">Basic life Support (BLS)</a></li>
                              <li><a (click)="OnCourseClick($event)" id="acls" class="hyperlink">Advanced Cardiac life Support (ACLS)</a></li>                             
                              <li><a (click)="OnCourseClick($event)" id="cpr" class="hyperlink">First Aid & CPR</a></li>
                          </ul>
                      </li>
                      <li class="col-sm-4">
                          <ul>
                              <li class="dropdown-header">Trauma Courses</li>
                              <li><a (click)="OnCourseClick($event)" id="atls" class="hyperlink">Advanced Trauma Life Support (ATLS)</a></li>
                              <li><a (click)="OnCourseClick($event)" id="itls" class="hyperlink">International Trauma Life Support (ITLS)</a></li>							
                          </ul>
                      </li>
                      <li class="col-sm-3">
                          <ul>
                              <li class="dropdown-header">Tata Institute of Social Science (TISS)</li>
                              <li><a (click)="OnCourseClick($event)" id="sve" class="hyperlink">School of Vocational Education</a></li>    
                              <li><a (click)="OnCourseClick($event)" id="pgdems" class="hyperlink">PGDEMS<br/>(PGDiploma in Emergency Medical Services)</a></li>                
                          </ul>
                      </li>
                      <li class="col-sm-4">
                          <ul>
                              <li class="dropdown-header">Independent Courses</li>
                              <li class="dropdown-header1">1 Year Training Program</li>
                              <li><a (click)="OnCourseClick($event)" id="bec" class="hyperlink">Basic Emergency Care (BEC)</a></li>    
                              <li class="dropdown-header1">1 Month Training Program</li>                  
                              <li><a (click)="OnCourseClick($event)" id="ecg" class="hyperlink">ECG</a></li>   
                              <li class="dropdown-header1">2 Sundays Training Program</li>                     
                          </ul>
                      </li>
                  </ul>				
              </li>    
              <li class="dropdown mega-dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Workshops <span class="caret"></span></a>				
                <ul class="dropdown-menu mega-dropdown-menu">                      
                    <li class="col-sm-4">
                        <ul>
                            <li class="dropdown-header">One Day Training Workshop (Each)</li>
                            <li><a href="#">Basic Trauma Care (BTC)</a></li>
                            <li><a href="#">CPR/AED Workshop</a></li>
                            <li><a href="#">Airway Management</a></li>
                        </ul>
                    </li>
                </ul>				
            </li>        
            <li class="dropdown mega-dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Services Offered <span class="caret"></span></a>				
                <ul class="dropdown-menu mega-dropdown-menu">                      
                    <li class="col-sm-4">
                        <ul>
                            <li class="dropdown-header">Health Care Provider Training</li>
                            <li><a href="#">Hospitals Staff Training</a></li>
                            <li><a href="#">Workshops</a></li>
                            <li><a href="#">Seminars</a></li>
                            <li><a href="#">Employment Assistance</a></li>
                        </ul>
                    </li>
                </ul>				
            </li>  
                   
            <li class="dropdown mega-dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Our Associates<span class="caret"></span></a>				
                <ul class="dropdown-menu mega-dropdown-menu">                      
                    <li class="col-sm-4">
                        <ul>
                            <li class="dropdown-header">Lifesupporters Institute of Health Science (LIHS)</li>
                            <li>
                                A Mumbai based 'not for Profit'  
                                Premier Institute for Emergency 
                                care with wide range of training programs<br />
                                <a href="www.lifesupporters.in">www.lifesupporters.in</a>
                            </li>
                            <li class="dropdown-header">American Heart Association (AHA)</li>
                            <li class="dropdown-header">Recognized Training Center</li>
                            <li>
                                   An Organisation that fosters appropriate Cardiac Care in an effort
                                   to reduce disability & deaths caused by Cardiovascular disease & Strock
                                </li>
                        </ul>
                    </li>
                </ul>				
            </li>     
            <li><a href="#">Contact Details</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">My account <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </li>
          <li><a href="#">My cart (0) items</a></li>
        </ul>
      </div><!-- /.nav-collapse -->
    </nav>
    <div class="container">
        <router-outlet></router-outlet>
        <a [routerLink]="['/course']">Back</a>
    </div>
  </div>
  